.header {
  height: 70px;
  margin-top: 50px;
}

.title {
  margin-left: 80px;
  padding-top: 10px;
}

.catch-phrase {
  font-size: 30px;
  margin-left: 80px;
}

@media (max-width: 767px) {
  .title {
    font-size: 30px;
    text-align: center;
  }

  .catch-phrase {
    font-size: 10px;
    margin-left: 80px;
    text-align: center;
  }
}
