<div class="input-group">
  <div class="form-outline">
    <form class="form" (ngSubmit)="searchUser()">
      <input
        type="text"
        id="form1"
        class="form-control"
        [(ngModel)]="search"
        name="text"
      />

      <button type="submit" class="search-btn">
        <img id="network" src="assets/images/network.png" alt="" />
      </button>
    </form>
  </div>
</div>
<div *ngIf="usersData">
  <div class="jumbotron">
    <div class="panel-body">
      <div class="row">
        <div class="col jumbotron">
          <img
            id="picha"
            src="{{ usersData.avatar_url }}"
            width="100px"
            height="100px"
            alt="Users image"
            class="img-circle img-responsive"
          />
        </div>
      </div>
      <div class="show">
        <a href="{{ usersData.html_url }}" target="_blank">View Profile</a>
        <p>Username:{{ usersData.login }}</p>
        <p>Followers:{{ usersData.followers }}</p>
        <p>Following:{{ usersData.following }}</p>
        <p>Repositories:{{ usersData.public_repos }}</p>
        <p>Bio:{{ usersData.bio }}</p>
        <p>avatar_url:{{usersData.avatar}}</p>
      </div>
    </div>
  </div>
</div>

<div>
  <img class="captain" src="assets/images/sammy-line-searching.gif" alt="">
</div>
