<div class="input-group">
  <div class="form-outline">
    <form (ngSubmit)="searchUser()">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
      <button class="" type="button" class="btn btn-primary" id="btn">Search
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-5 jumbotron col-lg-6 col-md-12 col-sm-12">
    <img src="{{usersData.avatar_url}}" width="100%" alt="Users image" class="img-circle img-responsive">
  </div>
</div>
<p>{{usersData.login}}</p>
<p>{{usersData.followers}}</p>
<p>{{usersData.following}}</p>
<p>{{usersData.public_repos}}</p>

<div class="card">


</div>