<div class="input-group">
  <div class="form-outline">
    <form (ngSubmit)="searchUser()">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
      <button class="" type="button" class="btn btn-primary" id="btn">Search
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</div>
<p>{{usersData.login}}</p>
<p>{{usersData.followers}}</p>
<p>{{usersData.following}}</p>
<p>{{usersData.public_repos}}</p>

<div class="card">


</div>