.input-group {
  margin-top: 60px;
  margin-left: 600px;
}

#form1 {
  height: 40px;
  border-radius: 40px 40px 40px 40px;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 40px 40px 40px 40px;
  margin-left: 90px;
  margin-top: 20px;
}
